<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>mFinance</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
            .jumbotron {
                background-image: url("/images/headerlogo.jpg");
                  height:300px;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: auto 100%;
                  background-color: black;
                  padding: 0;
            }
            .container-fluid {
                padding: 60px 50px;
            }
            .navbar {
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div class="container-width">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">


        <ul class="nav navbar-nav navbar-dark">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Loan Offerings</a>
            </li>
                        <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Apply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Customer Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">About mFinance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto navbar-dark">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Create Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Log In</a>
            </li>
        </ul>
        </nav>
    </div>
        <div class="jumbotron text-center">
                            <!-- in image I've tried src, href, th:src, and th:href-->
                <!--<a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/headerlogo.jpg}" alt="WTF Logo"/></a>
                <br>
                <h2>
                    Welcome to MFinance
                </h2>
                <h4>To log in or create a new account please click the Create 
                    Account or Log In Menu options in the top right of the navigation bar</h4>-->
        </div>
            <div class="container-fluid">
                <div class="row">
                    <div class ="col-sm-8">
                        <h2>About mFinance</h2>
                        <h4>Our company was created out of the need to provide every day consumers 
                           with the resources needed to improve the quality of their lives. Whether you need 
                           to update your kitchen, buy a new car for your teenager, or need 
                           that beach-vacation to wind down - we can help you!</h4> 
                       <button class="btn btn-default btn-lg">Who we are</button>
                    </div>
                <div class="col-sm-4">
                </div>
              </div>
            </div>
          <div class="container-fluid bg-grey">
                <div class="row">
                <div class ="col-sm-8">  
                    <h2>Customer Services</h2>
                    <h4>Everyone has questions, and we have the team to help you, no matter
                        how big or small!</h4> 
                    <button class="btn btn-default btn-lg">Contact us</button>
                </div>
                 <div class="col-sm-4">
                </div>
              </div>
            </div>                   



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
