<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>mFinance</title>
    </head>
    <body>
        <div>Welcome to MFinance. To log in or create a new account please click on Welcome</div>
        <a th:href="@{/home}">Welcome</a>
    </body>
</html>
