<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>mFinance</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                    <style>
                        .jumbotron {
                            background-image: url("/images/headerlogo.jpg");
                            height:200px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: auto 100%;
                            background-color: black;
                            padding: 0;
                        }
                        .container-fluid {
                            padding: 60px 50px;
                        }
                    </style>
                    </head>
                    <body>
                        <div class="container-width">
                            <nav th:replace="header :: header">
                            </nav>
                        </div>
                        <div class="jumbotron text-center">
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class ="col-sm-8">
                                    <h2>About mFinance</h2>
                                    <h4>Our company was created out of the need to provide every day consumers 
                                        with the resources needed to improve the quality of their lives. Whether you need 
                                        to update your kitchen, buy a new car for your teenager, or need 
                                        that beach-vacation to wind down - we can help you!</h4> 
                                    <button class="btn btn-default btn-lg">Who we are</button>
                                </div>
                                <div class="col-sm-4">
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid bg-grey">
                            <div class="row">
                                <div class ="col-sm-8">  
                                    <h2>Customer Services</h2>
                                    <h4>Everyone has questions, and we have the team to help you, no matter
                                        how big or small!</h4> 
                                    <button class="btn btn-default btn-lg">Contact us</button>
                                </div>
                                <div class="col-sm-4">
                                </div>
                            </div>
                        </div>                   

                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                    </body>
                    </html>
